* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
}

.text-uppercase {
    text-transform: uppercase;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* General structure for all part of page */
.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.line {
    border: none;
    border-top: 0.5rem solid #fff;
    max-width: 20rem;
    border-radius: 10px;
    margin: 1.5rem auto;
}

section {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

/* ----- Navbar ----- */
nav {
    width: 100%;
    background-color: #2C3E4F;
}

.HeaderOfNavbar {
    float: left;
    margin: 2rem;
    margin-left: 5rem;
}

.HeaderOfNavbar .header-link {
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
}

.navbarMenus {
    float: right;
    margin: 3.1rem;
    margin-right: 5rem;
}

.navbar-menu {
    float: left;
    margin-left: 1.7rem;
}

.navbar-menu .menu-link {
    color: #fff;
    font-weight: 700;
    font-size: 1.8rem;
}

/* ----- Header ----- */
header {
    background-color: #B7C5FF;
    padding-top: 5rem;
    text-align: center;
    padding-bottom: 4rem;
    color: #fff;
}

.container img {
    width: 20%;
    height: auto;
    margin-bottom: 1rem;
}

/* ----- About Section ----- */
.about {
    width: 100%;
    background-color: #1ABC9B;
    color: #fff;
}

/* ----- Projects Section ----- */
.projects {
    background-color: #2C3E4F;
    color: #fff;
}

.projects img {
    width: 50%;
}

.button-Github {
    margin-top: 2rem;
    padding: 1rem;
    background-color: #2C3E4F;
    border: 2px solid white;
    color: white;
    border-radius: 50px;
    transition: all 0.5s;
}

.button-Github:hover {
    background-color: white;
    color: #2C3E4F;
    cursor: pointer;
}

.button-Github a {
    color: white;
    font-weight: 600;
}

.button-Github:hover a {
    color: #2C3E4F;
}

/* ----- Projects Section ----- */
.contact {
    background-color: #fff;
    color: #2C3E4F;
}

.contact hr {
    border-color: #2C3E4F;
    margin-bottom: 4rem;
}

.form-group {
    width: 60%;
    margin: 0 auto;
    text-align: left;
}

.form-group .form-item {
    border-bottom: 2px solid #2C3E4F;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
}

.form-item input,
.form-item textarea {
    border: none;
    width: 100%;
    font-size: 2rem;
}

.form-item input:focus,
.form-item textarea:focus {
    outline: 0;
}


.button-send {
    margin-top: 2rem;
    padding: 1rem;
    font-weight: 600;
    background-color: white;
    border: 2px solid #2C3E4F;
    color: #2C3E4F;
    border-radius: 50px;
    transition: all 0.5s;
}

.button-send:hover {
    background-color: #2C3E4F;
    color: white;
    cursor: pointer;
}